<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>

    <%- include('imports'); -%>
    
  </head>
  <body>
    <%- include('navbar'); -%>

    <div class="container">
      <div class="row">
        <% projects.forEach((project) => { %>
          <%- include('projects_view', {project: project}); -%>
        <% }); %>
      </div>
    </div>
  </body>
</html>